body {
  font-family: 'Raleway', sans-serif;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #555;
}
a {
  color: #048;
}
pre, code {
  font-family: 'Inconsolata', monospace;
}
body > header {
  background-color: #802;
  color: white;
  padding: 2rem 0 1rem 0;
  margin: 0 auto;
}
nav {
  margin-top: 1rem;
  text-align: center;
  color: #C03;
}
nav a {
  color: white;
  text-decoration: none;
}
body > main, body > footer {
  line-height: 1.6;
  max-width: 40rem;
  width: 100%;
  padding: 0 4rem;
  margin: 2rem auto;
}
body > footer {
  text-align: center;
}
article {
  border-bottom: 1px dashed #FEE;
}
blockquote:before {
  content: "\275d";
  position: absolute;
  left: -0.5em;
  top: -0.25em;
  font-size: 400%;
  color: #804;
  font-style: normal;
}
blockquote {
  position: relative;
  padding-left: 1rem;
  font-style: italic;
}
blockquote em {
  font-style: normal;
}
article .metadata {
  font-size: 80%;
}
article > header {
  position: relative;
}
article > header .permalink {
  position: absolute;
  left: -1em;
  font-weight: bold;
}
.permalink a {
  text-decoration: none;
  color: #870;
}
.oembed {
  margin: 1rem 0;
}
.oembed > img,
.oembed > object,
.oembed > iframe {
  margin: 0 auto;
  display: block;
}
h1, h2 {
  font-weight: 400;
  margin-bottom: 0;
}
article h1,
article h2 {
  color: black;
}
h1 {
  font-size: 300%;
  line-height: 1.1;
  text-align: center;
  margin-top: 0;
}
h2 {
  font-size: 100%;
  color: #802;
  font-weight: bold;
}
pre, code {
  background: #eee;
}
p code {
  padding: 0.25em;
}
pre {
  padding: 0.75rem;
  border-left: 2px solid #802;
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead, tbody {
  border-bottom: 1px solid #802;
}
tbody tr + tr {
  border-top: 1px solid #ccc;
}
th, td {
  padding: 0.5em 1em;
}
th {
  text-align: left;
}

dl#archive-summary {
  overflow: hidden;
}
dl#archive-summary dd.month {
  font-weight: bold;
}
dl#archive-summary dt, dl#archive-summary dd {
  float: left;
}
dl#archive-summary dt {
  clear: left;
  width: 3.5em;
  font-weight: bold;
  text-align: right;
}
dl#archive-summary dd {
  margin: 0;
  width: 3em;
  text-align: right;
}
dl#archive-summary dd a {
  display: block;
}
.empty {
  color: silver;
}

.form {
}

.form div {
  display: flex;
  margin-bottom: 0.25rem;
}
.form div label {
  min-width: 10ch;
  width: 10ch;
  white-space: nowrap;
  text-align: right;
  padding-right: 1ch;
}
.form div label + * {
  max-width: 100%;
  flex: 1 0 auto;
}
.form div input[type=submit] {
  margin-left: 11ch;
}

.facade, .player {
  margin: 0 auto;
  display: block;
}
.facade {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.facade img, .facade span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.facade span {
  height: 1.5em;
  text-align: center;
  font: 48px/1.5 sans-serif;
  color: white;
  text-shadow: 0 0 0.5em black;
  width: 100%;
}
