{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block metadata %}
{{ super() }}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
{{ macros.flash() }}
<form method="post" class="form">
	{{ form.hidden_tag() }}
	<div>{{ form.title.label }}{{ form.title() }}</div>
	{{ macros.errors(form.title) }}
	<div>{{ form.link.label }}{{ form.link() }}</div>
	{{ macros.errors(form.link) }}
	<div>{{ form.via.label }}{{ form.via() }}</div>
	{{ macros.errors(form.via) }}
	<div>{{ form.note.label }}{{ form.note(rows=8) }}</div>
	{{ macros.errors(form.note) }}
	<div><input type="submit" value="Post entry"></div>
</form>
{% endblock %}
