{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% block metadata %}
{{ super() }}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
{{ macros.flash() }}
<form method="post" class="form">
	{{ form.hidden_tag() }}
	{{ form.title.label }}{{ form.title() }}
	{{ macros.errors(form.title) }}
	{{ form.link.label }}{{ form.link() }}
	{{ macros.errors(form.link) }}
	{{ form.via.label }}{{ form.via() }}
	{{ macros.errors(form.via) }}
	{{ form.note.label }}{{ form.note(rows=8) }}
	{{ macros.errors(form.note) }}
	<span></span>
	<span><input type="submit" value="Post entry"></span>
</form>
{% endblock %}
